@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
  root: ':root';
  include:;
  exclude:;
  prefix:;
  logs: true;
}

:root {
  background-color: #171f2e;
}

.custom-scrollbar {
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes settings-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
