@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
  root: ':root';
  include:;
  exclude:;
  prefix:;
  logs: true;
}

:root {
  background-color: #171f2e;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-gray-300::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thumb-gray-300::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 2px;
}

.scrollbar-thumb-gray-300:hover::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
}

@keyframes settings-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
